body {
    background-color: lightblue;
    color: #f7ecec;
    text-align: center;
}
.container {
    vertical-align: middle;
}
.buttons {
    
    vertical-align: middle;
    width: 100vw;
    height: 100vh;
}
.btn{
    margin: 5% 2.5%;
}